## User specific aliases and functions
alias l='ls -1rt'
alias lrt='ls -lrt'
alias l.='ls -G -d .*'
alias ll='ls -lG'
alias ls='ls -G'
alias less='less -R'
alias ..='cd ..'
alias jd='echo "## jobs ##" ; jobs ; echo "## dirs ##" ; dirs -p '
alias mkdirnow='mkdir $(date +"%F-%H%M%S")'
alias mkdirtoday='mkdir $(date +"%F")'

# macOS thing
alias uuidgen='uuidgen | tr "[:upper:]" "[:lower:]"'
alias zcat='gzcat'

alias dirs='dirs -p'
# AC ssh with SOCKS proxy
# alias ssh_li_-D='ssh -D 8888 -N -f root@server.domain'
# AC inline options sometimes
# alias    ssh_kw='ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -A -l core server.domain'

alias k='kubectl'
# oc aliases
alias    ogy='oc get -o yaml'
alias    ogw='oc get -o wide'
alias   ogco='oc get co'
alias   ogns='oc get ns'
alias    ogp='oc get pods'
alias   ogpw='oc get pods -owide'
alias    odp='oc describe pods'
alias   ogrA='oc get route -A'
alias   ogrd='oc get route -A | grep ditty'
 
alias  ogmcp='oc get mcp'
alias   ogmc='oc get mc'
 
alias    ogn='oc get nodes'
alias    odn='oc describe nodes'
alias  ognow='oc get nodes -o wide'
alias ognoww='oc get nodes -o wide -w'
alias  ognoy='oc get nodes -o yaml'
 
alias    ogm='oc -n openshift-machine-api get machines'
alias   ogmw='oc -n openshift-machine-api get machines -o wide'
alias   ogmy='oc -n openshift-machine-api get machines -o yaml'
alias    odm='oc -n openshift-machine-api describe machines'
alias  odelm='oc -n openshift-machine-api delete machines --wait=false'
 
alias   ogma='oc -n openshift-machine-api get ma'
alias   ogca='oc -n openshift-machine-api get ca'
alias   olca='oc -n openshift-machine-api logs -lcluster-autoscaler=default --tail=-1'
 
alias  ogmhc='oc -n openshift-machine-api get machinehealthcheck'
 
alias   ogms='oc -n openshift-machine-api get machinesets'
alias   oems='oc -n openshift-machine-api edit machinesets'
alias   odms='oc -n openshift-machine-api describe machinesets'
alias   osms='oc -n openshift-machine-api scale machineset'
alias odelms='oc -n openshift-machine-api delete machinesets'
 
alias  ogbmh='oc -n openshift-machine-api get bmh'
alias ogbmhy='oc -n openshift-machine-api get bmh -oyaml'
alias ogbmhw='oc -n openshift-machine-api get bmh -owide'
alias  odbmh='oc -n openshift-machine-api describe bmh'

# Git aliases
alias gdic='git diff --cached'
alias grim='git rebase -i master'
alias gcim='git commit -m'
alias gcimfh='git commit --fixup HEAD -m'

# Reduce 'awk print' to parse space-separated data to a single character
f() {
  local cols=$1
  shift
  # Replace commas with ", $" and prepend a "$" to build the awk print block
  local awk_cols="\$${cols//,/, \$}"
  awk "{ print $awk_cols }" "$@"
}

# Short for 'last' or 'latest': Print the latest few files in current or a target dir
lst() {
  local dir="${1:-.}"
  [ $# -gt 0 ] && shift
  ls -lrt "$dir" "$@" | tail
}

_ssh_prom_node() {
  local pod_name="$1"
  shift # Remove the pod name from the argument list
  local node_name
  local node_ip
  # Get the node hosting the pod
  node_name=$(oc get pod "$pod_name" -n openshift-monitoring -o jsonpath='{.spec.nodeName}') || return 1
  if [ -z "$node_name" ]; then
    echo "Error: Could not find node for pod $pod_name" >&2
    return 1
  fi
  # Get the InternalIP for that specific node
  node_ip=$(oc get node "$node_name" -o jsonpath='{.status.addresses[?(@.type=="InternalIP")].address}') || return 1
  if [ -z "$node_ip" ]; then
    echo "Error: Could not find InternalIP for node $node_name" >&2
    return 1
  fi
  echo "Connecting to $pod_name on $node_name ($node_ip)..." >&2
  # Pass all remaining arguments directly to SSH
  ssh "core@$node_ip" "$@"
}

ssh-prom0() { _ssh_prom_node "prometheus-k8s-0" "$@"; }
ssh-prom1() { _ssh_prom_node "prometheus-k8s-1" "$@"; }
